<br>
<div *ngIf="studentProfile.prijaveIspita != undefined" class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h6 class="text-black-50">
                {{studentProfile.indeks.student.ime}} {{studentProfile.indeks.student.prezime}}
                {{studentProfile.indeks.studProgramOznaka}}{{studentProfile.indeks.broj}}/{{studentProfile.indeks.godina}}
            </h6>
            <br>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Datum prijave</th>
                    <th scope="col">Predmet</th>
                    <th scope="col">Nastavnik</th>
                    <th scope="col">Ispitni rok</th>
                    <th scope="col">Datum održavanja</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let prijavaIspita of studentProfile.prijaveIspita; let i = index">
                    <th scope="row">{{ i+1 }}</th>
                    <td>{{prijavaIspita.datumPrijave}}</td>
                    <td>{{prijavaIspita.ispit.drziPredmet.predmet.naziv}}</td>
                    <td>{{prijavaIspita.ispit.drziPredmet.nastavnik.ime}} {{prijavaIspita.ispit.drziPredmet.nastavnik.prezime}}</td>
                    <td>{{prijavaIspita.ispit.ispitniRok.naziv}}</td>
                    <td>{{prijavaIspita.ispit.datumOdrzavanja}} {{prijavaIspita.ispit.vremeOdrzavanja}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>