<br>
<div *ngIf="studentProfile.upisiGodine != undefined && noviUpis != undefined" class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-9">
            <h6 class="text-black-50">
                {{studentProfile.indeks.student.ime}} {{studentProfile.indeks.student.prezime}}
                {{studentProfile.indeks.studProgramOznaka}}{{studentProfile.indeks.broj}}/{{studentProfile.indeks.godina}}
            </h6>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" (click)="openModal()">Novi upis</button>
            <div class="modal fade" id="upisModal" tabindex="-1" aria-labelledby="upisModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="upisModalLabel">Novi upis</h5>
                      <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <!-- <label class="form-label">Datum upisa: {{noviUpis.datumUpisa}}</label><br> -->
                            <label class="form-label">Prenos ESPB: {{noviUpis.prenosEspb}}</label><br>
                            <label class="form-label">Godina koja se upisuje: {{noviUpis.godinaKojaSeUpisuje}}</label><br>
                            <label class="form-label">Školska godina: {{noviUpis.skolskaGodina.pocetna}}/{{noviUpis.skolskaGodina.krajnja}}</label><br>
                            <label class="form-label">Predmeti:</label><br>
                            <ul *ngFor="let predmet of noviUpis.predmeti; let i = index">
                                <li>{{predmet.naziv}}</li>
                            </ul>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Napomena</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="noviUpis.napomena"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" (click)="closeModal()">Zatvori</button>
                      <button type="button" class="btn btn-primary" (click)="dodajNoviUpis()">Sačuvaj</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Datum upisa</th>
                    <th scope="col">Godina koja se upisuje</th>
                    <th scope="col">Prenos ESPB</th>
                    <th scope="col">Školska godina</th>
                    <th scope="col">Napomena</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let upisGodine of studentProfile.upisiGodine; let i = index">
                    <th scope="row">{{ i+1 }}</th>
                    <td>{{upisGodine.datumUpisa}}</td>
                    <td>{{upisGodine.godinaKojaSeUpisuje}}</td>
                    <td>{{upisGodine.prenosEspb}}</td>
                    <td>{{upisGodine.skolskaGodina.pocetna}}/{{upisGodine.skolskaGodina.krajnja}}</td>
                    <td>{{upisGodine.napomena}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
